---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
---

<Layout title="Quiltecno Celulares 📱 - Celulares, Accesorios y Servicio Técnico en Quilmes">
	<main>
		<Landing/>
	</main>
</Layout>

<style>
	main {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 90vh;
		width: 100%;
		color: white;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
</style>
