---
---

<section>
    <div class="container" >
        <img src="./../../public/logo.webp" >
        <div>
            <h1>
                <span style="color: #ffff30" >QUIL</span>TECNO
            </h1>
            <h2>
                CELULARES
            </h2>
        </div>
    </div>
</section>

<style>
    section{
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        img{
            width: 100px;
            height: 130px;
            margin-top: -15px;
            margin-right: -5px;
        }
    }
    h1{
        font-size: 6rem;
        font-family: "nau", sans-serif;
        font-weight: 200;
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: -40px;
    }
    h2{
        font-size: 14rem;
        color: #ffff30;
        font-family: "big_noodle", sans-serif;
        font-weight: 200;
        letter-spacing: 3px;
        margin:0;
    }
</style>