---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
		<meta name="description" content="Tenemos amplio stock de Accesorios para Celulares,Perifericos,Servicio Tenico en Andrés Baranda 1200, B1878 Quilmes,Provincia de Buenos Aires">
		<link rel="canonical" href="https://quiltecno.com.ar/">
		<meta property="og:locale" content="es_ES">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Quiltecno Celulares 📱 - Celulares, Accesorios y Servicio Técnico en Quilmes">
		<meta property="og:description" content="Tenemos amplio stock de Accesorios para Celulares,Perifericos,Servicio Tenico en Andrés Baranda 1200, B1878 Quilmes,Provincia de Buenos Aires">
		<meta property="og:url" content="https://quiltecno.com.ar/">
		<meta property="og:site_name" content="Quiltecno Celulares 📱">
		<meta property="og:image" content="../../public/Quiltecno-Celulares-y-Accesorios.webp">
		<meta property="og:image:width" content="600">
		<meta property="og:image:height" content="600">
		<meta property="og:image:type" content="image/webp">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:label1" content="Tiempo de lectura">
		<meta name="twitter:data1" content="1 minuto">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}
	@font-face {
		font-family: 'big_noodle';
		src: url('./../assets/fonts/big_noodle_titling.woff') format('woff2');
		font-style: normal;
	}
	@font-face {
		font-family: 'nau';
		src: url('./../assets/fonts/Nau_Sea.woff') format('woff2');
		font-style: normal;
	}
	html {
		font-family: "Big Shoulders Text", sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	html::-webkit-scrollbar{
		width: 5px;
	}
	html::-webkit-scrollbar-thumb {
 		background: #ffff307a;
  		border-radius: 6px;
	}
	h1{
        font-size: 6rem;
        font-family: "nau", sans-serif;
        font-weight: 200;
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: -40px;
    }
    h2{
        font-size: 14rem;
        color: #ffff30;
        font-family: "big_noodle", sans-serif;
        font-weight: 200;
        letter-spacing: 3px;
        margin:0;
    }
	h3{
		font-weight: 400;
		color: #ffff30;
		letter-spacing: 4px;
		font-size: 2rem;
	}
	a{
		text-decoration: none;
		margin-left: 3px;
		color: #ffff;
	}
	a:hover{
		color: #ffff30;
	}
	footer{
		display: flex;
		justify-content: center;
		align-items: center;
        font-size: .7rem;
		letter-spacing: 3px;
		margin-bottom: 10px;
    }
	
</style>
